Cartopy==0.24.1
ceda-datapoint==0.4.7
certifi==2025.1.31
folium==0.17.0
fsspec==2024.9.0
geoviews==1.14.0
matplotlib==3.9.2
OWSLib==0.31.0
pillow==10.4.0
pystac==1.10.1
requests-oauthlib==2.0.0
rioxarray==0.15.0
shapely==2.0.7
zarr==2.18.2
